body{
    margin: 0;
    list-style: none;
    #layout-main{
        height: 100%;
    }
    // text-align: center;

    header{
        background-color: rgb(86, 62, 224);
        display: flex;
    }

    ul{
            
        margin-left: 80%;
        
    }


    
}